@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 343 58% 10%;
    --card: 0 0% 100%;
    --card-foreground: 343 58% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 343 58% 10%;
    --primary: 343 58% 26%; /* #691C32 Guinda */
    --primary-foreground: 0 0% 100%;
    --secondary: 36 42% 55%; /* #BC955C Dorado */
    --secondary-foreground: 343 58% 10%;
    --muted: 36 42% 95%;
    --muted-foreground: 343 20% 40%;
    --accent: 36 42% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 343 20% 90%;
    --input: 343 20% 90%;
    --ring: 343 58% 26%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
